<div class="fp-body">

    <div class="fp-form-box">
        <span class="font-titel">Forgot Password</span>
        <form #forgotform="ngForm" (ngSubmit)="forgotformsubmit(forgotform)" class="forgot-form">

            <label class="font-genral my-3" for="forgotemail">Email Address</label><br>
            <input ngModel #forgotemail="ngModel" required class="mail-icon-input style-input my-3" placeholder="username@domain.com"  autocomplete="false" type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="forgotemail" name="forgotemail"><br>
            <div *ngIf="forgotemail.touched && forgotemail.invalid">
                <div *ngIf="forgotemail.errors?.['required']">
                    <span class="field-warn">*This field is required</span>
                </div>
                <div *ngIf="forgotemail.errors?.['pattern']">
                    <span class="field-warn">*Invalid Email pattern</span>
                </div>
            </div>
            <br>
            <button class="login-btn my-3 " [disabled]="forgotform.invalid" >Send OTP</button>
        </form>
        <div *ngIf="userFoundError"><span class="field-warn">{{userFoundError}}</span></div>
        <p class="font-genral">Do you have an account?<a class="primary-link" routerLink="/login">
            Back to Login</a></p>
    </div>

</div>