<h2>Review your ride</h2>

<form (ngSubmit)="submitReview()">
  <div class="form-group">
    <label for="star5">Rating:</label>
    <div class="rating">
      <input type="radio" id="star5" name="rating" [(ngModel)]="Rating" value="5" required>
      <label for="star5"></label>
      <input type="radio" id="star4" name="rating" [(ngModel)]="Rating" value="4">
      <label for="star4"></label>
      <input type="radio" id="star3" name="rating" [(ngModel)]="Rating" value="3">
      <label for="star3"></label>
      <input type="radio" id="star2" name="rating" [(ngModel)]="Rating" value="2">
      <label for="star2"></label>
      <input type="radio" id="star1" name="rating" [(ngModel)]="Rating" value="1">
      <label for="star1"></label>
    </div>
  </div>
  <div class="form-group">
    <label for="comment">Comment:</label>
    <textarea name="comment" [(ngModel)]="Comment" required></textarea>
  </div>
  <div class="form-group">
    <button type="submit">Submit</button>
  </div>
</form>
