<!-- <div class="outline">
  <mat-card *ngIf="currentCard === 1">
    <mat-card-header>
      <div mat-card-avatar class="card1-header-image"></div>
      <mat-card-title>Find the perfect car for your next trip</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="./assets/car1.jpg" alt="Photo of a car1">
    <mat-card-content>
      <p>
        Browse our wide selection of cars available for rent. We have something for everyone, from budget-friendly sedans to luxury sports cars.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="currentCard === 2">
    <mat-card-header>
      <div mat-card-avatar class="card2"></div>
      <mat-card-title>No hidden charges</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="./assets/car2.jpg" alt="Photo of a car2">
    <mat-card-content>
      <p>
        With our app, you can be sure that the price you see is the price you'll pay, with no hidden charges. We offer a variety of insurance options to protect you and your rental car.
      </p>
    </mat-card-content>
  </mat-card>
  
  <mat-card *ngIf="currentCard === 3">
    <mat-card-header>
      <div mat-card-avatar class="card3"></div>
      <mat-card-title>Rent a car with confidence</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="./assets/car3.jpg" alt="Photo of a car3">
    <mat-card-content>
      <p>
        Rent a car with confidence. Our app shows you the final price, with no hidden charges. We also offer a variety of insurance options to protect you and your rental car.
      </p>
    </mat-card-content>
  </mat-card> 
  </div> -->

  
