<div class="fp-body">

    <div class="fp-form-box">
        <span class="font-titel">New Password</span>
        <form #newpasswordform="ngForm" (ngSubmit)="newpasswordformsubmit(newpasswordform)" class="new-password-form">

            <label class="font-genral my-3" for="newpasswordinput">Enter New Password</label><br>
            <input ngModel #newpasswordinput="ngModel"  required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" class="key-icon-input style-input my-3" placeholder="Ex: Xza409191cz"  autocomplete="false" type="password" id="newpasswordinput" name="newpasswordinput"><br>
            <div *ngIf="newpasswordinput.touched && newpasswordinput.invalid">
                <div *ngIf="newpasswordinput.errors?.['required']">
                    <span class="field-warn">*This field is required</span>
                </div>
                <div *ngIf="newpasswordinput.errors?.['pattern']">
                    <span class="field-warn">*Minimum 8 characters at least 1 Alphabet and 1 Number</span>
                </div>
            </div>

            <label class="font-genral my-3" for="newpasswordinputconfirm">Confirm Password</label><br>
            <input #newpasswordinputconfirm="ngModel" ngModel required class="key-icon-input style-input my-3" placeholder="Ex: Xza409191cz"  autocomplete="false" type="password" id="newpasswordinputconfirm" name="newpasswordinputconfirm"><br>
            <div *ngIf="bothPasswordMismatchError"><span class="field-warn">{{bothPasswordMismatchError}}</span></div>

            <br>

            <button [disabled]="newpasswordform.invalid" class="login-btn my-3 ">Create</button>
        </form>
        
    </div>

</div>