.fp-body {
    height: 100vh;
    width: 100%;


    /* img-img */
    background-image: url("src/assets/images/blur_car_white_img.jpeg");
    background-position: cover;
    background-repeat: no-repeat;
    background-size: contain;

    background-color: rgb(230, 230, 230);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.fp-form-box{
    height: 90vh;
    width: 350px;
    background-color: white;
    border-radius: 30px;

    margin-left: 650px;
    margin-bottom: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.font-titel{
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    font-size: 25px;
}
.font-general{
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    font-size: 24px;
}
.font-general-small{
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    font-size: 20px;
}
.new-password-form {
    height: auto;
    margin-bottom: 15px;
    margin-top: 40px;
    text-align:start;
    justify-content: center;
}
.my-3 {
    margin-top: 3px;
    margin-bottom: 3px;
}
.style-input {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 30px;
    background-color: rgb(230, 230, 230);
    color: rgb(53, 53, 53);
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    font-size: 20px;

    width: 270px;
    border-radius: 5px;
    text-align: center;
}
.key-icon-input{
    padding-left: 28px;
    background: url("src/assets/car-icons/key-icon.png") no-repeat left;
    background-size: 25px;
    background-position: 10px 10px;
}
.login-btn {
    margin-left: 25%;
    width: 150px;
    border-radius: 5px;
    text-align: center;
    padding: 5px 5px;
    background-color: rgb(13, 110, 253);
    color: whitesmoke;
    font-weight: 700;
    font-size: 20px;
}
.field-warn{
    color: tomato;
    font-size: 14px;
}