.row{
  width: 100%;
}
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  max-height: 400px;
  margin:  auto;
  margin-top: 45px;
  margin-bottom: 45px; 
  margin-right: 60px;
  margin-left: 65px;
  
}

.registration-title {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 15px;
}

.registration-container {
  flex: 1;
  border: 1px solid #1a1919;
  box-shadow: 0 18px 18px rgba(10, 10, 10, 0.452);
  border-radius: 15px;
  padding: 20px;
  margin-right: 10px; 
  width: auto;
}

.registration-input {
  width: 100%;
  font-size: 18px;
}

.registration-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 18px;
  width: 55%;
  margin-left: 90px;
  
}

.registration-buttons button {
  font-size: 20px;
  color: white;
  height: 50px;
  border-radius: 10px;
  margin-right: 10px;
  flex-grow: 1;
  background-color: rgb(13,110,253);
}

.cancel-button {
  border-color: rgb(241, 105, 105);
}

  .image-cards-container {
   justify-content: center;
   width: 40%;
   margin-left: 40px; 
   margin-top: 40px;
   max-height: 40px;
}  

img {
  object-fit: contain;
  justify-content: center;
  width: 140%;
  margin-left: 30px; 
  margin-top: 40px;
  max-height: 400px;
} 

